.books {
  display: flex;
}
.list {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-width: 400px;
}
.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
